.campaign-types-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.campaign-types-text10 {
  font-weight: 700;
}
 
.campaign-types-text12 {
  font-weight: 700;
}
 
.campaign-types-text14 {
  font-weight: 700;
}
 
.campaign-types-text16 {
  font-weight: 700;
}
 
.campaign-types-text18 {
  font-weight: 700;
}
 
.campaign-types-text20 {
  font-weight: 700;
}
 
.campaign-types-text22 {
  font-weight: 700;
}
 
.campaign-types-text24 {
  font-weight: 700;
}
 
.campaign-types-text26 {
  font-weight: 700;
}
 
.campaign-types-text28 {
  font-weight: 700;
}
 
.campaign-types-text30 {
  font-weight: 700;
}
 
.campaign-types-text32 {
  font-weight: 700;
}
 
.campaign-types-text34 {
  font-weight: 700;
}
 
.campaign-types-text36 {
  font-weight: 700;
}
 
.campaign-types-text38 {
  font-weight: 700;
}
 
.campaign-types-text40 {
  font-weight: 700;
}
 
.campaign-types-text42 {
  font-weight: 700;
}
 
.campaign-types-text44 {
  font-weight: 700;
}
 
.campaign-types-text46 {
  font-weight: 700;
}
 
.campaign-types-text48 {
  font-weight: 700;
}
 
.campaign-types-text50 {
  font-weight: 700;
}
 
.campaign-types-text52 {
  font-weight: 700;
}
 
.campaign-types-text54 {
  font-weight: 700;
}
 
.campaign-types-text56 {
  font-weight: 700;
}
 
.campaign-types-text58 {
  font-weight: 700;
}
 
.campaign-types-text60 {
  font-weight: 700;
}
 
.campaign-types-text62 {
  font-weight: 700;
}
 
.campaign-types-text64 {
  font-weight: 700;
}
 
.campaign-types-text66 {
  font-weight: 700;
}
 
.campaign-types-text68 {
  font-weight: 700;
}
 
.campaign-types-text70 {
  font-weight: 700;
}
 
.campaign-types-text72 {
  font-weight: 700;
}
 
.campaign-types-container2 {
  display: none;
}
 
.campaign-types-container3 {
  display: contents;
}
 
.campaign-types-container4 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.campaign-types-icon4 {
  width: 24px;
  margin-right: 4px;
}
 
.campaign-types-text86 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
