.google-ads-foundations-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.google-ads-foundations-thq-goal-highlight-elm1 {
  color: var(--color-on-surface);
  display: block;
  font-size: var(--font-size-lg);
  margin-top: var(--spacing-md);
  font-weight: var(--font-weight-heading);
}
 
.google-ads-foundations-thq-goal-highlight-elm2 {
  color: var(--color-on-surface);
  display: block;
  font-size: var(--font-size-lg);
  margin-top: var(--spacing-md);
  font-weight: var(--font-weight-heading);
}
 
.google-ads-foundations-thq-goal-highlight-elm3 {
  color: var(--color-on-surface);
  display: block;
  font-size: var(--font-size-lg);
  margin-top: var(--spacing-md);
  font-weight: var(--font-weight-heading);
}
 
.google-ads-foundations-thq-goal-highlight-elm4 {
  color: var(--color-on-surface);
  display: block;
  font-size: var(--font-size-lg);
  margin-top: var(--spacing-md);
  font-weight: var(--font-weight-heading);
}
 
.google-ads-foundations-thq-goal-highlight-elm5 {
  color: var(--color-on-surface);
  display: block;
  font-size: var(--font-size-lg);
  margin-top: var(--spacing-md);
  font-weight: var(--font-weight-heading);
}
 
.google-ads-foundations-container3 {
  display: none;
}
 
.google-ads-foundations-container4 {
  display: contents;
}
 
.google-ads-foundations-container5 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.google-ads-foundations-icon38 {
  width: 24px;
  margin-right: 4px;
}
 
.google-ads-foundations-text25 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
